<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <div class="container">
        <form action="/signup" method="post">
            <label for="name">Name</label><br>
            <input type="text" name="name" required><br>

            <label for="mail" class="emailLabel">Email</label><br>
            <input type="email" name="email" required><br>

            <label for="number" class="mob">Mob</label><br>
            <input type="number" name="number" required><br>

            <label for="password" class="passwordLabel">Password</label><br>
            <input type="password" name="password" required><br>

            <label for="password" class="confirm">Confirm Password</label><br>
            <input type="password" name="password-2" required><br>

            <input type="submit">
        </form>
    </div>
    <script src="js/signupVal.js"></script>
</body>
</html>