body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 480px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    font-size: 14px; /* Reduced label size */
}

.input-container {
    text-align: left;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-container input {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 15px;
    margin-top: 20px;
    border-radius: 6px;
    font-size: 18px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

a {
    text-decoration: none;
    color: #3498db;
    font-size: 14px;
    display: block;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
    color: #2980b9;
}

.error-message {
    color: #e74c3c;
    margin-top: 10px;
}
